*{
box-sizing:border-box;
}


body{

margin:0;

font-family:Arial, sans-serif;

background:white;

color:#222;

}


.dark{

background:#1e1e1e;

color:white;

}



.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 40px;

background:#6c5ce7;

color:white;

}


.navbar a{

color:white;

text-decoration:none;

margin:10px;

}


.navbar button{

padding:8px 12px;

border-radius:8px;

border:none;

cursor:pointer;

}



section{

padding:40px;

text-align:center;

}



.project-card{

max-width:400px;

margin:20px auto;

padding:20px;

border:1px solid #ddd;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}


.project-card a{

background:#6c5ce7;

color:white;

padding:10px;

border-radius:8px;

text-decoration:none;

}



form{

display:flex;

flex-direction:column;

max-width:400px;

margin:auto;

gap:15px;

}


input,textarea{

padding:12px;

border-radius:8px;

border:1px solid #ccc;

}



footer{

background:#222;

color:white;

padding:20px;

text-align:center;

}



@media(max-width:700px){


.navbar{

flex-direction:column;

gap:15px;

}


}